In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")
data.count()

User ID            400
Gender             400
Age                400
EstimatedSalary    400
Purchased          400
dtype: int64

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dummy = pd.get_dummies(data["Gender"]).iloc[:,1:2] 
data1 = data.copy()

In [5]:
data1 = data1.drop(["Gender","Purchased"],axis=1)
last_data = pd.concat([data1,dummy],axis = 1)
last_data.head()

    User ID  Age  EstimatedSalary  Male
0  15624510   19            19000     1
1  15810944   35            20000     1
2  15668575   26            43000     0
3  15603246   27            57000     0
4  15804002   19            76000     1

In [6]:
y = data.iloc[:,4:5].values
x = last_data.iloc[:,1:4].values

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc = StandardScaler()
x_scaled = sc.fit_transform(x)
x_scaled1 = pd.DataFrame(x_scaled)
print(x_scaled1)

            0         1         2
0   -1.781797 -1.490046  1.020204
1   -0.253587 -1.460681  1.020204
2   -1.113206 -0.785290 -0.980196
3   -1.017692 -0.374182 -0.980196
4   -1.781797  0.183751  1.020204
..        ...       ...       ...
395  0.797057 -0.844019 -0.980196
396  1.274623 -1.372587  1.020204
397  1.179110 -1.460681 -0.980196
398 -0.158074 -1.078938  1.020204
399  1.083596 -0.990844 -0.980196

[400 rows x 3 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.33, random_state=0)

In [11]:
x_test

array([[-0.73115301,  0.50676401,  1.02020406],
       [ 0.03295203, -0.57973568, -0.98019606],
       [-0.25358736,  0.15438573,  1.02020406],
       [-0.73115301,  0.27184516, -0.98019606],
       [-0.25358736, -0.57973568, -0.98019606],
       [-1.01769239, -1.46068138,  1.02020406],
       [-0.63563988, -1.60750566, -0.98019606],
       [-0.15807423,  2.18056084,  1.02020406],
       [-1.87731056, -0.05116826, -0.98019606],
       [ 0.89257019, -0.78528968,  1.02020406],
       [-0.73115301, -0.60910054,  1.02020406],
       [-0.92217926, -0.4329114 , -0.98019606],
       [-0.0625611 , -0.4329114 ,  1.02020406],
       [ 0.12846516,  0.21311545,  1.02020406],
       [-1.6862843 ,  0.47739916,  1.02020406],
       [-0.54012675,  1.38770971, -0.98019606],
       [-0.0625611 ,  0.21311545,  1.02020406],
       [-1.78179743,  0.4480343 ,  1.02020406],
       [ 1.65667523,  1.76945285, -0.98019606],
       [-0.25358736, -1.40195167,  1.02020406],
       [-0.25358736, -0.66783025, -0.98019606],
       [ 0.89257019,  2.18056084, -0.98019606],
       [ 0.31949142, -0.55037082, -0.98019606],
       [ 0.89257019,  1.03533143,  1.02020406],
       [-1.39974491, -1.22576253, -0.98019606],
       [ 1.08359645,  2.09246627, -0.98019606],
       [-0.92217926,  0.50676401, -0.98019606],
       [-0.82666613,  0.30121002,  1.02020406],
       [-0.0625611 , -0.2273574 , -0.98019606],
       [-0.54012675,  0.47739916, -0.98019606],
       [-1.59077117,  0.53612887,  1.02020406],
       [-0.0625611 ,  0.27184516,  1.02020406],
       [ 1.84770149, -0.28608712,  1.02020406],
       [-0.0625611 , -0.49164111,  1.02020406],
       [-1.30423178, -0.34481683,  1.02020406],
       [-1.87731056, -0.52100597,  1.02020406],
       [-1.49525804,  0.33057487,  1.02020406],
       [-0.34910049, -0.78528968, -0.98019606],
       [-0.63563988, -1.04957339, -0.98019606],
       [ 1.08359645, -0.99084367, -0.98019606],
       [-1.01769239,  0.53612887,  1.02020406],
       [ 0.31949142, -0.52100597,  1.02020406],
       [-1.01769239,  0.41866944, -0.98019606],
       [-0.25358736, -1.46068138,  1.02020406],
       [ 0.51051768,  1.24088543, -0.98019606],
       [-1.01769239, -0.34481683, -0.98019606],
       [-0.0625611 ,  0.30121002, -0.98019606],
       [ 1.37013584,  0.59485858, -0.98019606],
       [-1.11320552, -1.16703281,  1.02020406],
       [ 1.08359645,  0.47739916,  1.02020406],
       [ 1.84770149,  1.53453399, -0.98019606],
       [-0.34910049, -1.3138571 , -0.98019606],
       [-0.25358736, -0.37418169, -0.98019606],
       [-0.34910049,  1.32898   ,  1.02020406],
       [ 2.03872775,  0.53612887, -0.98019606],
       [ 0.70154394, -1.1083031 ,  1.02020406],
       [-0.82666613,  0.38930459, -0.98019606],
       [-1.11320552,  0.30121002, -0.98019606],
       [ 1.08359645, -1.22576253,  1.02020406],
       [-1.39974491, -1.46068138,  1.02020406],
       [-0.54012675, -1.51941109,  1.02020406],
       [ 2.13424088, -0.81465453,  1.02020406],
       [-1.78179743,  0.18375059,  1.02020406],
       [-0.15807423,  0.85914229,  1.02020406],
       [-1.78179743, -1.28449224, -0.98019606],
       [ 2.13424088,  0.38930459,  1.02020406],
       [-1.30423178,  0.56549373, -0.98019606],
       [-1.01769239, -0.34481683,  1.02020406],
       [ 0.22397829, -0.66783025,  1.02020406],
       [ 0.41500455,  0.00756145, -0.98019606],
       [-0.54012675,  2.35674998, -0.98019606],
       [-0.25358736,  0.21311545, -0.98019606],
       [-1.49525804, -0.19799255, -0.98019606],
       [ 0.70154394, -1.40195167,  1.02020406],
       [-1.01769239,  0.56549373,  1.02020406],
       [-1.87731056,  0.35993973,  1.02020406],
       [ 0.41500455,  0.27184516, -0.98019606],
       [ 0.22397829, -0.28608712, -0.98019606],
       [ 1.46564897, -1.04957339, -0.98019606],
       [ 0.89257019,  1.09406114, -0.98019606],
       [ 1.94321462,  2.18056084,  1.02020406],
       [ 2.03872775,  0.38930459, -0.98019606],
       [-1.30423178, -0.4329114 , -0.98019606],
       [-1.11320552, -1.02020853, -0.98019606],
       [ 1.94321462, -0.93211396, -0.98019606],
       [ 0.41500455,  0.30121002, -0.98019606],
       [ 0.22397829,  0.15438573, -0.98019606],
       [ 2.03872775,  1.76945285,  1.02020406],
       [ 0.79705706, -0.84401939, -0.98019606],
       [ 0.31949142, -0.28608712, -0.98019606],
       [ 0.41500455, -0.16862769,  1.02020406],
       [-0.0625611 ,  2.23929055, -0.98019606],
       [-1.39974491, -0.63846539, -0.98019606],
       [-1.20871865, -1.07893824,  1.02020406],
       [-1.30423178,  0.41866944,  1.02020406],
       [-1.01769239,  0.77104772, -0.98019606],
       [-1.39974491, -0.19799255,  1.02020406],
       [ 0.98808332, -1.07893824,  1.02020406],
       [ 0.98808332,  0.59485858,  1.02020406],
       [ 0.41500455,  1.00596657,  1.02020406],
       [ 0.60603081, -0.9027491 , -0.98019606],
       [-0.54012675,  1.47580428,  1.02020406],
       [ 0.03295203, -0.57973568, -0.98019606],
       [-0.54012675,  1.91627713, -0.98019606],
       [ 1.37013584, -1.43131652, -0.98019606],
       [ 1.46564897,  1.00596657, -0.98019606],
       [ 0.12846516, -0.81465453,  1.02020406],
       [ 0.03295203, -0.25672226,  1.02020406],
       [-0.15807423, -0.57973568, -0.98019606],
       [-0.15807423, -0.19799255, -0.98019606],
       [-0.25358736, -1.3138571 , -0.98019606],
       [-0.25358736, -0.57973568,  1.02020406],
       [ 0.41500455,  0.09565602,  1.02020406],
       [ 0.89257019, -0.60910054, -0.98019606],
       [ 2.03872775, -1.19639767, -0.98019606],
       [ 1.08359645, -0.13926283,  1.02020406],
       [ 0.70154394,  1.7988177 , -0.98019606],
       [-0.63563988,  0.56549373, -0.98019606],
       [ 0.79705706,  0.35993973, -0.98019606],
       [ 0.89257019, -0.55037082, -0.98019606],
       [-1.11320552, -1.60750566,  1.02020406],
       [ 2.13424088,  0.94723686,  1.02020406],
       [ 0.03295203,  1.24088543, -0.98019606],
       [ 0.22397829,  1.09406114,  1.02020406],
       [ 0.41500455, -0.49164111, -0.98019606],
       [-0.25358736, -0.31545197,  1.02020406],
       [ 0.98808332, -0.84401939,  1.02020406],
       [ 0.98808332,  1.88691227, -0.98019606],
       [ 0.03295203,  1.27025028, -0.98019606],
       [-0.82666613,  2.29802026,  1.02020406],
       [-1.11320552, -1.60750566, -0.98019606],
       [ 2.13424088, -0.81465453,  1.02020406]])

In [12]:
from sklearn.naive_bayes import GaussianNB

In [13]:
na = GaussianNB()
na.fit(x_train, y_train)

/home/mert/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [15]:
print("test accuracy {}".format(na.score(x_test,y_test)))
print("test accuracy {}".format(na.score(x_train, y_train)))

test accuracy 0.9090909090909091
test accuracy 0.8880597014925373

In [16]:
import statsmodels.api as sm
from sklearn.metrics import confusion_matrix

In [17]:
model = sm.OLS(na.predict(x_test),x_test)
print(model.fit().summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.412
Model:                            OLS   Adj. R-squared (uncentered):              0.398
Method:                 Least Squares   F-statistic:                              30.13
Date:                Sun, 07 Nov 2021   Prob (F-statistic):                    7.87e-15
Time:                        00:40:09   Log-Likelihood:                         -79.743
No. Observations:                 132   AIC:                                      165.5
Df Residuals:                     129   BIC:                                      174.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.2933      0.037      7.900      0.000       0.220       0.367
x2             0.1581      0.039      4.017      0.000       0.080       0.236
x3            -0.0253      0.039     -0.646      0.520      -0.103       0.052
==============================================================================
Omnibus:                       21.754   Durbin-Watson:                   0.732
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                6.222
Skew:                           0.165   Prob(JB):                       0.0446
Kurtosis:                       1.989   Cond. No.                         1.18
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
con = confusion_matrix(na.predict(x_test), y_test)
print(con)

[[80  8]
 [ 4 40]]